<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="nav">
    <div class="container" style="margin-top: 5px;">
        <nav class="navbar navbar-default well-sm" role="navigation" style="padding-left: 0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#example-navbar-collapse" data-toggle="collapse"
                            type="button">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/book/index}">网上书店</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav pull-left">
                        <li class="active">
                            <a href="index.html" th:href="@{/book/index}"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a>
                        </li>

                        <li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                图书类型
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="books_list.html" th:href="@{/book/bookList(category=1)}">文学类</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="books_list.html" th:href="@{/book/bookList(category=2)}">经管类</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="books_list.html" th:href="@{/book/bookList(category=3)}">其他类</a>
                                </li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        </li>
                        <li th:if="${session.user == null}">
                            <a data-target="#loginModal" data-toggle="modal" href="#">登录</a>
                        </li>
                        <li th:if="${session.user != null}">
                            <a href="javascript:void(0)" th:text="${session.user.username}"></a>
                        </li>
                        <li th:if="${session.user != null}">
                            <a th:href="@{/user/logout}">&nbsp;退出账号</a>
                        </li>
                        <li th:if="${session.user == null}">
                            <a data-target="#register" data-toggle="modal" href="#">注册</a>
                        </li>
                        <li>
                            <a href="order_list.html" th:href="@{/order/list}"><span
                                    class="glyphicon glyphicon-list-alt"></span>&nbsp;我的订单</a>
                        </li>
                        <li>
                            <a href="cart.html" th:href="@{/cart/list}"><span
                                    class="glyphicon glyphicon-shopping-cart"> </span>&nbsp;我的购物车</a>
                        </li>
                        <li>
                            <a th:href="@{/user/userInfo}"><span class="glyphicon glyphicon-user"></span>&nbsp;个人信息</a>
                        </li>
                    </ul>
                    <div class="input-group col-md-3 pull-right" style="positon:relative;padding: 7px;width: 234px;">
                        <input class="form-control" id="inputBookName" placeholder="书名、作者、简介" type="text"/>
                        <span class="input-group-btn">
					            <button class="btn btn-info btn-search" th:onclick="searchBookName()">
					            	<span class="glyphicon glyphicon-search"></span>
					            </button>
							</span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
