<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
注意：使用mapper代理方法开发，namespace有特殊重要的作用
-->
<mapper namespace="com.book.bookshop.mapper.AddressMapper">
    <update id="setAllTo0" parameterType="integer">
        update bs_address
        set is_default = '0'
        where user_id = #{userId}
    </update>

    <update id="setDefault" parameterType="integer">
        update bs_address
        set is_default = '1'
        where id = #{addressId}
    </update>
</mapper>